<mat-card class="mat-elevation-z5">
  <mat-card-header>
    <mat-card-title>
      <p class="place-title">{{ place.name }}</p>
      <p class="place-category">{{ place.category }}</p>
    </mat-card-title>
    <mat-card-subtitle>Creado: {{ place.id | date:'medium' }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p class="text">{{ place.description.slice(0, 180) }} ...</p>
  </mat-card-content>
  <mat-card-actions class="center-xs mb-3">
    <button mat-raised-button class="btn-cart" (click)="editPlace(place)">Editar</button>
  </mat-card-actions>
</mat-card>