<div class="map-container">
  <google-map 
    height="500px"
    width="100%"
    [center]="center"
    [zoom]="zoom">
    <map-marker *ngFor="let place of places"
              [position]="{lat: place.lat, lng: place.lng}"
              [options]="{
                title: place.name
              }"></map-marker>
  </google-map>
  <!-- <div>Latitude: {{display?.lat}}</div>
  <div>Longitude: {{display?.lng}}</div> 
  (mapClick)="moveMap($event)"
  (mapMousemove)="move($event)"
  -->
</div>
<div class="container">

  <div class="row" *ngIf="places.length">
    <div class="col-xs-12 col-sm-offset-1 col-sm-7 mt-40">
      <div class="box">
        <h2 class="title center-text">Lugares cercanos</h2>

        <mat-card *ngFor="let place of places" appCountClick [routerLink]="['create', place.id]" class="mat-elevation-z5 mb-20">
          <mat-card-header>
            <mat-card-title>{{ place.name }}</mat-card-title>
            <mat-card-subtitle>Creado: {{ place.id | date:'medium' }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>{{ place.description }}</p>
          </mat-card-content>
        </mat-card>

        <!-- <mat-selection-list #place [multiple]="false">
          <mat-list-option *ngFor="let place of places" [value]="place.name">
            <a appCountClick [routerLink]="['create', place.id]" [appHighlight]="place.plan">
              {{place.name}} - <span class="date">Creado: {{ place.id | date:'medium' }}</span>
            </a>
          </mat-list-option>
        </mat-selection-list> -->
      </div>
    </div>
    <div class="col-xs-12 col-sm-offset-1 col-sm-3 mt-40">
      <div class="box">
        <h2 class="title center-text">Lugares destacados</h2>
        <mat-card *ngFor="let place of places" appCountClick [routerLink]="['create', place.id]" class="mat-elevation-z5 mb-20">
          <mat-card-header>
            <mat-card-title>{{ place.name }}</mat-card-title>
            <mat-card-subtitle>Creado: {{ place.id | date:'medium' }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>{{ place.description }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div *ngIf="!places.length">
    <h2 class="title center-text">No hay comercios para mostrar</h2>
  </div>
    <!-- Option selected: {{shoes.selectedOptions.selected[0]?.value}} -->
    <!-- <div id="square" [@animationContent]="state" (@animationContent.start)="animationStarts($event)" (@animationContent.done)="animationFinal($event)"></div>
    <button (click)="animate()">Animar</button> -->
</div>

