<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="">
    <mat-icon>menu</mat-icon>
  </button>
  <span><a routerLink="/places">Business Directory</a></span>
  <span class="spacer"></span>
  <a mat-icon-button class="example-icon favorite-icon" aria-label="" routerLink="/auth/login">
    <mat-icon>login</mat-icon>
  </a>
  <a mat-icon-button class="example-icon favorite-icon" aria-label="" routerLink="/auth/register">
    <mat-icon>person_add_alt_1</mat-icon>
  </a>
  <a mat-icon-button class="example-icon" aria-label="" routerLink="/places/create/new">
    <mat-icon>add_circle</mat-icon>
  </a>
</mat-toolbar>