<mat-card class="">
  <mat-card-header>
    <h3 class="title">{{ category.name | uppercase }}</h3>
    <span class="spacer"></span>
    <mat-icon aria-hidden="false" aria-label="Icon category">{{ category.icon }}</mat-icon>
  </mat-card-header>
  <mat-card-content>
    <strong>{{ category.description.slice(0, 50) }}...</strong>
  </mat-card-content>
  <mat-card-actions class="center-xs mb-3">
    <button mat-raised-button class="btn-cart" (click)="editCategory(category)">Editar</button>
  </mat-card-actions>
</mat-card>
