/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container{
  width: 85%;
  margin: 0 auto;
}
a{
  text-decoration: none; 
}
a:link {
  color: inherit;
}
a:visited{
  color: inherit;
}
.title{
  font-size: 1.8rem !important;
  color: brown;
  font-family: 'Bangers', cursive !important;
}
.text{
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}
.center{
  margin: 0 auto;
}
.center-text{
  text-align: center;
}
.route{
  background-color: #b7b7b7;
  color: #fff;
  font-size: 1.2rem;
  padding: 6px 10px;
  font-weight: 400;
  margin-top: 10px;
}


/* Helpers */
.mb-10{
  margin-bottom: 10px !important;
}
.mt-10{
  margin-top: 10px !important;
}
.mb-20{
  margin-bottom: 20px !important;
}
.mt-20{
  margin-top: 20px !important;
}
.mb-40{
  margin-bottom: 40px !important;
}
.mt-40{
  margin-top: 40px !important;
}
.mt-50{
  margin-top: 50px !important;
}
.mb-50{
  margin-bottom: 50px !important;
}
.mb-60{
  margin-bottom: 60px !important;
}
.mt-60{
  margin-top: 60px !important;
}
.pt-20{
  padding-bottom: 20px !important;
}
.pt-20{
  padding-top: 20px !important;
}
.pt-40{
  padding-bottom: 40px !important;
}
.pt-40{
  padding-top: 40px !important;
}
.pt-60{
  padding-bottom: 60px !important;
}
.pt-60{
  padding-top: 60px !important;
}
.divider{
  height: 150px;
}